/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*RESET*/

body {
    line-height: 1;
    --color1: rgb(0, 0, 0) ;
    --color2: #00b600;
    --color3: red;
    --color4: gray;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Global styles*/
html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    font-family: 'Arimo', sans-serif;
}
a{
    text-decoration: none;
}

/*Home*/
#Home{
    width: 100%;
    position: relative;
}
#TitleContainer{
    width: 40vw;
    position: absolute;
    bottom: 10%;
    left: 4%;
}
#Home label{
    font-size: 5vw;
}

#Mona-robot{
    width: 100vw;
}
#LogoCompletoHCFhazel{
    position: absolute;
    top: 30%;
    left: 1%;
    width: 35vw;
}

#Profile{
    text-align: center; 
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
}
#CV-button {
    text-decoration: none;
    color: var(--color3);
    font-size: 3vw;
    padding: 10px 20px; /* Espaciado interno */
    background-color: var(--color3); /* Fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Quitar el borde por defecto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al estilo de un botón */
    transition: background-color 0.3s ease; /* Suavizar el cambio de color */
    margin-top: 30px;
}

#CV-button:hover {
    background-color: var(--color2); /* Cambiar el color al pasar el ratón */
}
#YT-button {
    text-decoration: none;
    color: var(--color3);
    font-size: 3vw;
    padding: 10px 20px; /* Espaciado interno */
    background-color: var(--color4); /* Fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Quitar el borde por defecto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al estilo de un botón */
    transition: background-color 0.3s ease; /* Suavizar el cambio de color */
    margin-top: 30px;
}

#YT-button:hover {
    background-color: var(--color2); /* Cambiar el color al pasar el ratón */
}
#Profile img{
    display: block;
    width: 35vw;
}
.teammate-description{
    width: 40vw;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}
.teammate-description h1{
    font-weight: bold;
    color: var(--color2);
    margin-bottom: 30px;
}


/*Services*/
#Subtitle{
    margin-left: 4vw;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 3vw;
    width: 50%;
}
#Technologies-Parent{
    padding: 20px; 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
#Technologies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 4vw;
    margin-bottom: 10px;
    margin-top: 5px;
    
}
#Technologies-container img{
    width: 7vw;
    height: 7vw;
    margin: 5px;
}
#Technologies{
    margin-left: 4vw;
    margin-bottom: 10px;
    font-size: 5vw;
    color: var(--color3)
}
#Services{
    background-color: var(--color2);
    height: auto;
    color: black;
    display: flex;
    margin-bottom: 5%;
    text-align: center;
}
.Service{
    width: 30%;
    padding: 1vw;
}
.Service h1{
    font-size: 3vw;
    font-weight: bold;
    margin: 1vw;
}
.Service h2{
    margin-top: 2vw;
    margin-left: 1vw;
    font-size: 1.5vw;
}

/*Previous works*/
#PW{
    margin: 5%;
    font-size: 5vw;
}
#Portfolio{
    margin-top: 5%;
    margin-left: 5%;
}
.Separator{
    width: 90%;
    height: 2px;
    background-color: var(--color2);
}
.Work-Section
{
    margin-bottom: 10%;

    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
.Work-Section label
{
    color: var(--color2);
    font-size: 4vw;
}
.Works-Container{
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work{
    width: 20vw;
    height: 20vw;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.work span
{
    align-items: center; 
    justify-content: center;
    font-size: 2vw;
}
#Clients-Container img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.work img{
    width: 20vw;
    height: 20vw;
    border-radius: 10px;

    box-shadow: 0 3px 3px rgba(255, 255, 255, 0.3); /* Agrega una sombra */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave */
}
.work img:hover {
    /*filter: brightness(150%);*/
    filter: saturate(170%) sepia(50%);
    transition: filter 0.1s ease; /* Agrega una transición suave */

    box-shadow: 0 6px 6px rgba(255, 255, 255, 0.5); /* Agrega una sombra */
}


/*Contact*/
#mc_embed_shell{
    margin-bottom: 50px;
}
#mc_embed_signup{
    position: relative;
}

#mc_embed_signup_scroll h2{
    position: absolute;
    right: 5%;
    top: 35%;
    font-size: 3vw;
    width: 50%;
}
.mc-field-group label{
    font-size: 2vw;
}
#form-fields-container{
    background-color: red;
    border-radius: 20px;
    width: 40%;
}
#fields{
    margin-left: 10%;
    padding: 5px;
}
#mce-EMAIL{
    width: 80%;
    height: 25%;
}
#mce-FNAME{
    width: 80%;
    height: 30%;
}
.button{
    width: 40%;
    height: 30%;
    margin-top: 10px;
}


footer{
    background-color: rgb(43, 41, 41);
    height: 30vh;
}
.contact-box
{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: space-between;
}
.icon img
{
  height: 5vw;
  width: 6vw;
  margin-top: 10px;
}
#lets-chat{
    margin-left: 10px;
}
#myInfo-container{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}
#myInfo-container div{
    margin-right: 30px;
}
#myInfo h2{
    margin-bottom: 20px;
}
#contact-buttons{
    display: flex;
    flex-direction: column;
}
#contact-buttons button{
    margin-bottom: 10px;
}
@media (max-width: 1000px) {
    #Services{
        height: 20vh; 
    }
}

@media (max-width: 800px) {
    #Sections a{
        font-size: 20px;
        margin: 5px;
    }
}

@media (max-width: 650px) {
    #Subtitle{
        margin-bottom: 5vh;
    }

    .Service h2{
        font-size: 2vw;
    }
}

@media (max-width: 540px) {
    #Services{
        height: 12vh; 
    }

    #Sections a{
        font-size: 3vw;
        margin: 2px;
    }

    .button{
        width: 80px;
    }
    
}
