/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Global styles*/
html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    font-family: 'Arimo', sans-serif;
}
a{
    text-decoration: none;
}
.return-button-container
{
    padding: 2%;
    font-size: 30px;
}
.return-button-container a {
    color: #00b600;
}
.title-container
{
    text-align: center;
    margin: 2%;
    font-size: 30px;
}
.video{
    text-align: center;
    margin-top: 20vh;
}
iframe{
    width: 80vw;
    height: 60vw;
}
.work-description
{
    margin-top: 30px;
    width: 100vw;
    height: 25vh;
    position: relative;
    margin-bottom: 50px;
}
.description
{
    width: 80vw;
    height: auto;
    position: absolute;
    left: 10%;
    text-align: start;
}
.play-button
{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
.play-button a
{
    color: #00b600;
}
